# AI
.codex
.specify
.worktrees

# Editor
.vscode
.zed

# Language Specifics

## JavaScript/TypeScript
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
*.tsbuildinfo
.next
.pnp
.pnp.*
.pnpm-debug.log*
.vercel
.vite
.yarn/*
build
coverage
dist
next-env.d.ts
node_modules
npm-debug.log*
out/
yarn-debug.log*
yarn-error.log*

## Python
.pytest_cache
.ruff_cache
.venv
__pycache__

## Rust
target

## Swift
.build
xcuserdata

# General Ignores
*.bak
*.log
.env*
.turbo
model
tmp

# Kubernetes
.kube

# System
.DS_Store
