# AI.
.codex
.specify

# Integrated development environment.
.vscode

# Language specifics.
## Cargo.
target
## Python
__pycache__
.ruff_cache
.venv
## NPM.
node_modules

# System.
.DS_Store

# Test data.
*.bak
.env
tmp

