# AI
.codex
.specify
.worktrees

# Editor
.vscode

# Language Specifics

## JavaScript/TypeScript
dist
node_modules
.vite

## Python
__pycache__
.ruff_cache
.venv

## Rust
target

# System
.DS_Store

# General Ignores
model
tmp
*.bak
*.log
.env*
