node_modules
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
dist
build
.next
out
coverage
apps/ui/src/ui/Svg
apps/ui/public
apps/ui/**/*.ttf
apps/ui/**/*.png
apps/ui/**/*.jpg
apps/ui/**/*.svg
apps/ui/**/*.gif
apps/ui/README.md
