[package]
authors     = ["Xavier Lau <xavier@inv.cafe>"]
description = "<DESCRIPTION>"
edition     = "2021"
homepage    = "https://<NAME>.hack.ink"
license     = "GPL-3.0"
name        = "<NAME>"
readme      = "README.md"
repository  = "https://github.com/hack-ink/<NAME>"
version     = "0.1.0"
