name: Language Checks

permissions:
  contents: read
  pull-requests: read

on:
  push:
    branches: [main]
    paths-ignore:
      - '**/*.md'
      - '.gitignore'
      - 'docs/**'
  pull_request:
    branches: [main]
    paths-ignore:
      - '**/*.md'
      - '.gitignore'
      - 'docs/**'
  merge_group:
    paths-ignore:
      - '**/*.md'
      - '.gitignore'
      - 'docs/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  rust:
    name: Rust checks
    runs-on: ubuntu-latest
    steps:
      - name: Fetch latest code
        uses: actions/checkout@v6

      - name: Set up Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          cache: true
          rustflags: ''
          components: rustfmt, clippy

      - name: Install nightly rustfmt
        run: rustup toolchain install nightly --component rustfmt

      - name: Install cargo-make
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-make

      - name: Run lint
        run: cargo make lint-rust

      - name: Run Rust format checks
        run: cargo make fmt-rust-check

      - name: Install taplo
        uses: taiki-e/install-action@v2
        with:
          tool: taplo

      - name: Run TOML format checks
        run: cargo make fmt-toml-check

      - name: Install nextest
        uses: taiki-e/install-action@v2
        with:
          tool: nextest

      - name: Run tests
        run: cargo make test-rust
